@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: white;
}

img {
    width: 20%;
    height: 40%;
    border-radius: 50%;
}

hr {
    height: 6px;
    background-color: #FAFAFA;
    width: 200px;
    margin: 8px auto;
}

h1 {
    text-shadow: 2px 3px black;
}

h2 {
    text-shadow: 2px 3px black;
}

p {
    text-shadow: 2px 1px black;
}

h3 {
    text-shadow: 2px 1px black;
}

.menu {
    background: white;
    text-align:center;
    text-decoration:none;
    list-style: none;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 370px;
    z-index: 10;
    color: black;
}

.link {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: -10px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 16px;
}

.link:hover {
    background: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:white;
}

.section1 {
    background: #11224D;
}

.section2 {
    background: #193A6F;
}

#Favorite {
    background: #2C599D;
}

#Videos {
    background: #5B84C4;
}

#Inspiration {
    background: #FB9B50;
}

html {
    scroll-behavior: smooth;
}

#Articles {
    background:  #F98125;
}
img{
    transition:transform .2s;
}
img:hover{
    transform:scale(0.9);
    border-color:white;
    border-width:5px;
    border-style:dotted;
}
#Contact{
    background: #ffac6b;
}
a{
    text-decoration:none;
}